body {
	margin:0;
	font-family: Helvetica,arial,sans-serif;
	font-size: 16px;
	background-color:#fff1e0;
}

#content {
	padding: 1em;
}
#content .o-forms {
	max-width: none;
}
.runbooklink {
	font-size: smaller;
	text-decoration: none;
	color: #00c;
    margin: 0 0.6em;
	font-weight: bold;
}
.runbooklink:hover {
	text-decoration: underline;
}
.standfirst {
	font-style: italic;
	margin-bottom: 2em;
}
.knowsAbout, .good {
	background: #cfc;
}
.awareOf, .medium {
	background: #fc9;
}
.notLookedAt, .poor {
	background: #fcc;
}
.unknown {
	background: #ccc;
}
.addresponse {
	float: right;
	margin-bottom: 1.5em;
}
.average, .indepth, .serviceTier {
	border-left: solid #000000;
	border-right: solid #000000;
}
.system {
	border-right: solid #000000;
}
.o-table thead th, .o-table thead td {
	border-bottom: solid #000000;
}
.progtable th:not(:last-child) {
	border-right: solid #000000;
}
.progtable .indepth {
	border-right: none;
}
tfoot th, tfoot td {
	border-top: solid #000000;
}
.o-table td.levelcell {
	font-size: 11px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.o-table .name {
	padding-left: 30px;
}
.o-table .name .inner {
	transform:rotate(-30deg);
	display: block;
    margin-top: 60px;
    white-space: nowrap;
    width: 0;
}
.o-table .summarycolumn {
	color: #00757F;
	text-align: center;
	font-size: 13px;
}
.o-table tbody tr.stripe {
	background-color: #f2dfce;
}
