body {
	margin:0;
	font-family: Helvetica,arial,sans-serif;
	font-size: 16px;
}

#content {
	padding: 1em;
	background-color:#fff1e0;
}
#content .o-forms {
	max-width: none;
}
.runbooklink {
	font-size: smaller;
	text-decoration: none;
	color: #00c;
    margin: 0 0.6em;
	font-weight: bold;
}
.runbooklink:hover {
	text-decoration: underline;
}
.standfirst {
	font-style: italic;
	margin-bottom: 2em;
}
.knowsAbout, .good {
	background: #cfc;
}
.awareOf, .medium {
	background: #fc9;
}
.notLookedAt, .poor {
	background: #fcc;
}
.unknown {
	background: #ccc;
}
.addresponse {
	float: right;
	margin-bottom: 1.5em;
}
.average, .indepth {
	border-left: solid;
}
.system {
	border-right: solid;
}
thead th, thead td {
	border-bottom: solid;
}
tfoot th, tfoot td {
	border-top: solid;
}
